body {
    font-family: Arial, sans-serif;
    background-color: #a1eac1; /* Apple green background */
    color: #fff; /* White text color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.dashboard-container {
    background-color: #333; /* Dark grey background for the container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1200px;
    text-align: center;
    position: relative;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.header-container img {
    height: 40px;
    margin-right: 10px;
}
.title-container {
    flex-grow: 1;
    text-align: center;
}
.dashboard-container h1 {
    margin-bottom: 5px;
    font-size: 18px;
    color: #fff;
}
.dashboard-container h2 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ddd;
}
.table-container {
    width: 100%;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    color: #fff; /* White text color for table */
}
table, th, td {
    border: 1px solid #ddd; /* Add border to table, table headers, and table cells */
}
th, td {
    padding: 6px;
    text-align: left;
}
th {
    background-color: #444; /* Dark grey background for table headers */
}
.search-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Align items vertically */
}
.search-container input {
    width: 30%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000; /* Black text color for inputs */
}
.search-container button {
    padding: 6px 10px;
    font-size: 14px;
    color: white;
    background-color: #45a049;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add space between button and input */
}
.search-container button img {
    height: 20px;
    margin-right: 5px;
}
.search-container button:hover {
    background-color: #45a049;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.button-container button {
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    background-color: #45a049;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}
.button-container button img {
    height: 20px;
    margin-right: 8px;
}
.button-container button:hover {
    background-color: #45a049;
}
